[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.115.6"
google-cloud-storage = ">=2.19.0"
boto3 = ">=1.35.7"
uvicorn = ">=0.33"
python-dotenv = ">=1.0"
requests = "*"
pytest = "*"
httpx = "*"
python-multipart = "*"
loader = "*"
departure = "*"

[dev-packages]
pytest = ">=8.3.0"
requests = "*"

[requires]
python_version = "3.13"
